.presentation-container {
    height: calc(100vh - 5rem);
    display: flex;
    align-items: center;
    opacity: 0;
    animation: fade-presentation 0.5s ease-in-out forwards 0.1s;

    @keyframes fade-presentation {
        to {
            opacity: 1.0;
        }
    }
    
}

