.about-container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.about-content {
    width: 100%;
    height: 600px;
    position: relative;
    z-index: 2;
    border-radius: 20px;
    background-color: var(--light-black);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem;
    box-shadow: 1px 6px var(--light-blue);
}

.about-baby-yoda {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    animation: movement-baby-yoda 2s ;
    z-index: 1;

    @keyframes movement-baby-yoda {
        from {
            transform: translateY(0%);
        }
        to {
            transform: translateY(-57%);
        }
    }


}