.arrow {
    border: solid #FFF;
    border-width: 0 13px 13px 0;
    display: inline-block;
    padding: 40px;
}


.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
  
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }