.arrow-container {
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}

.arrow {
    border: solid #FFF;
    border-width: 0 13px 13px 0;
    display: inline-block;
    padding: 40px;
    cursor: pointer;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin-left: 5rem;
}
  
.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    margin-right: 5rem;
}