.text-container {

    width: 460px;
    text-align: justify;
    
    h1 {
        text-shadow: -1px 0 var(--purple), 0 2px var(--purple), 4px 0 var(--purple), 0 -1px var(--purple);
        letter-spacing: 2px;
        font-size: 2.5rem;
    }

    p {
            
        margin-top: 1rem;
    }

}

.tags-container {
    display: flex;
    width: 100%;
    
    span {
        width: 100%;
        text-align: center;
        padding: 0.5rem 0rem;
        border-radius: 0.6rem;
        font-weight: bold;
        letter-spacing: 3px;
    }

     :nth-child(1) {
        margin-right: 1rem;
        background-color: var(--purple);
    }
    :nth-child(2) {
        background-color: var(--white);
        color: var(--purple);
    }
}