.cards-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 600px;

    h2 {
        font-size: 3rem;
        text-shadow: -1px 0 var(--purple), 0 2px var(--purple), 4px 0 var(--purple), 0 -1px var(--purple);
    }

    img {
        width: 400px;
    }

    p {
        text-align: center;
    }

    span {
        font-size: 2rem;
        letter-spacing: 0.4rem;
    }
}