.research-container {
    width: 100%;
    background-color: var(--light-black);
    border-radius: 5px;
    padding: 2rem;
}

.research-content {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 2rem;

}


.group-input {
    width: 100%;
    display: flex;
    gap: 3rem;
}